.boxShadow {
  -webkit-box-shadow: 9px -5px 29px 0px rgba(204, 192, 204, 1);
  -moz-box-shadow: 9px -5px 29px 0px rgba(204, 192, 204, 1);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
